<div class="card bg-light" *ngIf="listadoCitas.length === 0" >
    <div class="card-body">
        <h5 class="card-title text-center letra">
            No hay citas para mostrar
        </h5>
    </div>
</div>
<div *ngFor="let cita of listadoCitas; let i = index" class="card mb-2">
    <div class="card-body text-center">
        <p class="card-text"><span class="letra">Nombre: </span>{{ cita.nombre }}</p>
        <p class="card-text"><span class="letra" >Fecha: </span>{{ cita.fecha }}</p>
        <p class="card-text"><span class="letra">Hora: </span>{{ cita.hora }}</p>
        <p class="card-text"><span class="letra">Sintomas: </span>{{ cita.sintomas }}</p>
        <button style="width: 100%;" class="btn btn-danger btn-block boton" (click)="eliminarCita(i)">Eliminar</button>
    </div>
</div>