.card {
    margin: 0px 40px;
}
span {
    font-weight: 600;
}

.boton {
    background-color:red;
    border-radius: 10px;
}

.letra{
    font-family: 'Concert One', cursive;
    font-family: 'Ramabhadra', sans-serif;  
}
