label {
    font-family: 'Acme', sans-serif;
    font-family: 'Capriola', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.boton {
    width: 100%;
    background-color: green;
    border-radius: 10px;
}

.card {
    margin: 0px 40px;
}